@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@705&display=swap");


:root{
  --a:0;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 705;
}

.container{
  display : flex;
  flex-direction : column;
}

.close {
  display: none;
}

body {
  background-color: black;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding : 6px 20px;
}


.left-navbar{
  justify-content: center;
  align-items: center;
  gap : 10px;
}

.logo{
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.home{
    margin-left: 30px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #3b3b3b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar{
    padding: 6px 10px;
    gap : 16px;
    background-color: #1F1F1F;
    width: 27vw;
    height: 4vh;
    border : none;
    border-radius: 999px;
    position: relative;
}

.searchInput{
    width: 21.5vw;
    font-size: 1rem;
    background-color: #1F1F1F;
    border :none;
    outline : none;
    color : white;
}

.searchbar:hover{
  border: 3px solid white;
}

.searchbar .line{
    position: absolute;
    bottom: 7px;
    right: 50px;
}

.browse {
  filter :invert(0.5);
}

.right-navbar{
  justify-content: center;
  align-items: center;
  gap : 30px;
}

.right-navbar > * > *:hover{
  color: white;
}

.left-section{
    gap : 10px;
}

.right-section{
    gap : 20px;
    justify-content: center;
    align-items: center; 
}

.installApp{
    width: 107px;
    height: 20px;
    gap: 10px;
}

.installIcon{
    filter : invert(0.5);
}

.installIcon:hover{
    filter : invert(1);
}

.left {
  width: 25vw;
}

.library {
  margin : 0 9px;
}

.right {
  width: 75vw;
  position: relative;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.library {
  min-height: 76vh;
  position: relative;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  font-weight: bold;
  align-items: center;
  padding: 23px 14px;
  font-size: 11px;
}

.heading img {
  width: 20px;
}

.footer {
  display: flex;
  font-size: 10px;
  color: grey;
  gap: 15px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
}

.footer a {
  color: grey;
}

.spotifyPlaylists {
  padding: 16px;
}

.cardContainer {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  margin: 30px;
  max-height: 60vh;
  overflow-y: auto;
}

.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
  transition : all 0.9s;
}

.card:hover{
   background-color: rgb(105, 103, 103);
   cursor : pointer;
   --a : 1;
}

.card > * {
  padding-top: 16px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.playButton {
  width: 40px;
  height: 40px;
  background-color: #1ed760;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 138px;
  right: 27px;
  opacity: var(--a);
  transition: all 1s ease out;
}

.buttons > * {
  margin: 0 12px;
}

.signupbtn {
  background-color: #1F1F1F;
  color: #3b3b3b;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.signupbtn:hover {
  font-size: 17px;
  color: white;
}

.loginbtn {
  background-color: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  width: 79px;
  cursor: pointer;
  font-size: 16px;
}

.loginbtn:hover {
  font-weight: bold;
  font-size: 17px;
  color : black;
}

.songbuttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.songList {
  height: 544px;
  overflow: auto;
  margin-bottom: 44px;
}

.hamburger {
  display: none;
  cursor : pointer;
}

.hamburgerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.songList ul {
  padding: 0 12px;
}

.songList ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid white;
  margin: 12px 0;
  padding: 13px;
  border-radius: 5px;
}

.songList .info {
  font-size: 13px;
  width: 344px;
}

.info div {
  word-break: break-all;
}

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playnow span {
  font-size: 15px;
  width: 64px;
  padding: 12px;
}

.playbar {
  display : flex;
  justify-content : center;
  align-items : center;
  position: fixed;
  bottom: 60px;
  filter: invert(1);
  background-color: #dad5d5;
  border-radius: 10px;
  width: 90%;
  padding: 12px;
  width: 70vw;
  min-height: 40px;
}

.seekbar {
  height: 4px;
  width: 98%;
  background-color: black;
  border-radius: 10px;
  position: absolute;
  bottom: 8px;
  margin: 6px;
  cursor: pointer;
}

.circle {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  background-color: black;
  position: relative;
  bottom: 6px;
  left: 0%;
  transition: left 0.5s;
}

.songbuttons img {
  cursor: pointer;
}

.timevol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.songInfo {
  color: black;
  padding: 0 12px;
  width: 250px;
}

.songTime {
  color: black;
  padding: 0 12px;
  width: 125px;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor : pointer;
}

.range input{
    cursor : pointer;
}

.abovebar {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  width : 100%;
}

@media (max-width: 1200px) {
  .left {
    position: absolute;
    left: -130%;
    transition: all 0.3s;
    z-index: 1;
    width: 373px;
    background-color: black;
    padding: 0;
    height : 100vh;
    position : fixed;
    top : 0;
  }

  .left .close {
    position: absolute;
    right: 31px;
    top: 25px;
    width: 29px;
  }

  .timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 13px;
  }

  .right {
    width: 100vw;
    margin: 0;
  }

  .playButton{
    width : 60px;
    height : 60px;
  }

  .playButton svg{
    width : 30px;
    height : 30px;
  }

  .playbar {
    width: calc(100vw - 75px);
  }

  .songInfo,
  .songTime {
    width: auto;
  }

  .seekbar {
    width: calc(100vw - 85px);
  }

  .hamburger {
    display: block;
  }

  .card {
    width: 55vw;
  }

  .cardContainer {
    margin: 0;
    justify-content: center;
  }

  .close {
    display: block;
  }

  .abovebar {
    flex-direction: column;
    gap: 23px;
    align-items: center;
  }

  .spotifyPlaylists h1 {
    padding: 16px;
  }

   .cardContainer{
      max-height: unset;
      overflow-y: unset;
      margin-bottom: 35vh;;
  }

    .playbar{
      right : 25px;
   }
}

@media (max-width: 500px){
    .card{
       width : 100%;
    }

    .header>*{
      padding : 2px;
    }

    .buttons>*{
      margin : 0 6px;
    }

    .header{
      padding : 7px;
    }

    .nav {
      padding-top: 10;
    }

    .hamburgerContainer{
      gap : 30px;
    }
    
    .hamburgerContainer img{
          width: 35px;
    }

    .spotifyPlaylists h1{
      padding : 4px;
    }

    .playButton{
    width : 40px;
    height : 40px;
    }

  .playButton svg{
    width : 20px;
    height : 20px;
   }

    .playbar{
      right : 25px;
    }

    .library {
      height : 85vh;
    }

    .left{
      width : 100vw;
    }
    
}

