@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@705&display=swap");

:root {
  --a: 0;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 705;
}

.container {
  display: flex;
  flex-direction: column;
}

.close {
  display: none;
}

body {
  background-color: black;
  color: white;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
}

.left-navbar {
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo {
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.home {
  margin-left: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar {
  padding: 6px 10px;
  gap: 16px;
  background-color: #1f1f1f;
  width: 27vw;
  height: 4vh;
  border: none;
  border-radius: 999px;
  position: relative;
}

.searchInput {
  width: 21.5vw;
  font-size: 1rem;
  background-color: #1f1f1f;
  border: none;
  outline: none;
  color: white;
}

.searchbar:hover {
  border: 3px solid white;
}

.searchbar .line {
  height : 50%;
  position: absolute;
  bottom: 12px;
  right: 50px;
}

.browse {
  filter: invert(0.5);
}

.right-navbar {
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.right-navbar > * > *:hover {
  color: white;
}

.left-section {
  gap: 10px;
}

.right-section {
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.buttons > * {
  margin: 0 12px;
}

.signupbtn {
  background-color: #1f1f1f;
  color: #3b3b3b;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.signupbtn:hover {
  font-size: 17px;
  color: white;
}

.loginbtn {
  background-color: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  width: 79px;
  cursor: pointer;
  font-size: 16px;
}

.loginbtn:hover {
  font-weight: bold;
  font-size: 17px;
  color: black;
}

.songButtons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.installApp {
  display : flex;
  width: 107px;
  height: 20px;
  gap: 10px;
}

.installIcon {
  filter: invert(0.5);
}

.installIcon:hover {
  filter: invert(1);
}

.left {
  width: 25vw;
  height : 100vh;
}

.library {
  margin: 0 9px;
  height : 96vh;
}

.info > .artist{
  padding-top: 7px;
}

.song{
  font-size: 1rem;
  width : 7vw;
}

.artist{
  font-size: 0.8rem;
  width : 7vw;
}

.right {
  width: 75vw;
  height : 91.5vh;
  position: relative;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.library {
  height: 89.3vh;
  position: relative;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  font-weight: bold;
  align-items: center;
  padding: 23px 14px;
  font-size: 11px;
}

.heading img {
  width: 5vw;
}

.songList {
  height: 76vh;
  overflow: auto;
  margin-bottom: 44px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburgerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.songList ul {
  padding: 0 12px;
}

.songList ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  cursor: pointer;
  padding: 12px 0;
  border: 1px solid white;
  margin: 11px 0;
  padding: 13px;
  border-radius: 5px;
  background-color: #1f1f1f;
}

.thumbnail{
  width: 3.5vw;
  height : 3.5vh;
  object-fit: contain;
}

.songList .info {
  font-size: 17px;
  width: 202px;
  display: flex;
  flex-direction: column;
}

.durationPlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.songList ul li img {
  height: 6.5vh;
}

.songList ul li .play-Library {
  width: 4vw;
  height: 4vh;
}

.footer {
  display: flex;
  flex-wrap : wrap;
  font-size: 10px;
  color: grey;
  gap: 15px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
}

.footer a {
  color: grey;
}

.spotifyPlaylists {
  padding: 16px;
}

.cardContainer {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  margin: 25px;
  max-height: 65.5vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.title{
  padding-left: 30px;
  padding-top: 30px;
}

.card {
  width: 13.3vw;
  min-height : 37vh;
  padding: 10px;
  border-radius: 5px;
  background-color: #1f1f1f;
  position: relative;
  transition: all 0.9s;
}

.card:hover .play-card{
  bottom :150px;
}

.card:hover {
  background-color: rgb(105, 103, 103);
  cursor: pointer;
  --a : 1;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 11.4vw;
  height: 20vh;
  object-fit: cover;
  margin : 0 15px;
}

.card h2 , p{
  margin : 0 15px;
}

.play-card {
  width: 40px;
  height: 40px;
  background-color: #1ed760;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  right: 40px;
  opacity: var(--a);
  transition: all 0.5s ease-out;
}

.playbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 2.4vh;
  background-color: #802727;
  border-radius: 10px;
  padding: 6px;
  margin: 0 20px;
  width: 72vw;
  min-height: 9vh;
  transition: min-height 0.5s ease-out;
}

.playbar:has(.songButtons:hover){
   min-height: 14vh;
}

.seekbar {
  cursor : pointer ;
  height: 4px;
  width: 98%;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  bottom: 8px;
  margin: 6px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 13px;
  background-color: white;
  position: relative;
  bottom: 6px;
  left: 0%;
  transition: left 0.5s;
}

.abovebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  padding: 0 1vw;
  width: 100%;
}

.songDetails{
  display :flex;
}

.songThumbnail {
  height: 9vh;
  width: 6vw;
  margin-bottom: 12px;
}

.songThumbnail img {
  height: 9vh;
  width: 6vw;
  object-fit: contain;
}

.songName {
  color: white;
  padding-left :12px;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.songButtons img {
  cursor: pointer;
}

.previous,.play,.next{
   display : flex;
   justify-content: center;
   align-items: center;
}

.previous:hover,.play:hover,.next:hover {
   width : 50px;
   height : 50px;
   border-radius : 50%;
   background-color: hsl(141.36deg 69.41% 50%);
}

.timevol {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  filter : invert(1);
}

.songTime {
  color: black;
  padding: 0 12px;
  width: 125px;
}

.volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.range input {
  cursor: pointer;
}

@media(max-width: 1200px) {

  .home{
    display : none;
  }

  .right-navbar .left-section ,.right-navbar .line{
    display : none;
  }

  .searchbar{
    width : 35vw;
  }

  .searchbar input{
    width : 24.5vw;
  }

  .searchbar .line{
    height : 55%;
    bottom : 13px;
  }

  .left {
    position: absolute;
    left: -130%;
    transition: all 0.3s;
    z-index: 1;
    width: 50vw;
    background-color: black;
    padding: 0;
    height: 100vh;
    position: fixed;
    top: 0;
  }

  .library {
    height: 96vh;
  }

  .songList{
    height : 85.8vh;
  }

  .thumbnail{
  width: 9vw;
  height : 9vh;
}

.info{
  gap : 15px;
}

.info > .artist{
  padding-top: 7px;
}

.song{
  width : 15vw;
}

.artist{
  width : 15vw;
}

 .durationPlay{
    gap : 9px;
  }

  .left .close {
    position: absolute;
    right: 31px;
    top: 25px;
    width: 29px;
  }

  .timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 13px;
  }

  .right {
    width: 100vw;
    margin: 0;
    height : 93.5vh;
  }

  .play-card {
    width: 60px;
    height: 60px;
    right : 70px;
  }

  .card:hover .play-card{
    bottom: 185px;
  }

  .play-card svg {
    width: 30px;
    height: 30px;
  }

  .hamburger {
    display: block;
    width : 5vw;
  }

  .title {
      padding : 30px;
  }
  
   .card {
    width: 50vw;
    min-height : 45vh;
    gap : 10px;
  }

  .card img{
    width : 80%;
    height : 65%;
    margin : 30px 40px 0px 40px;
  }

  .card h2,p{
    margin : 15px 40px 15px 40px;
  }

  .cardContainer {
    margin: 0;
    justify-content: center;
  }

  .close {
    display: block;
  }

  .abovebar {
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-bottom: 15px;
  }

  .spotifyPlaylists h1 {
    padding: 16px;
  }

  .cardContainer {
    max-height: 55.5vh;
    overflow-y: scroll;
    margin-bottom: 0px;
  }

  .playbar {
    width: calc(100vw - 75px);
    right: 10px;
  }

  .songDetails{
     flex-direction: column;
     align-items: center;
     justify-content: center;
  }

   .songThumbnail , .songThumbnail img {
    width: 10vw;
    height: 7vh;
   }

   .songName{
    padding : 0;
    width : 70vw;
   }

  .songInfo,
  .songTime {
    width: auto;
  }

  .play{
   width : 50px;
   height : 50px;
   border-radius : 50%;
   background-color: hsl(141.36deg 69.41% 50%);
}

.previous:hover,.next:hover {
   border-radius :0;
   background-color: transparent;
}

.play:hover {
   width : 50px;
   height : 50px;
   border-radius : 50%;
   background-color: hsl(141.36deg 69.41% 50%);
}

.volume{
  gap : 15px;
  margin-bottom: 15px;
}

.volume img{
  padding-bottom: 5px;
}

  .seekbar {
    width: calc(100vw - 85px);
  }
}

@media (max-width: 670px) {

  .header > * {
    padding: 2px;
  }

  .logo{
    display : none;
  }

  .buttons > * {
    margin: 0 6px;
  }

  .header {
    padding: 9px;
    width : 124vw;
  }

  .nav {
    padding-top: 10;
  }

  .hamburgerContainer {
    gap: 30px;
  }

  .hamburgerContainer img {
    width: 40px;
  }

  .searchbar{
    width : 65vw;
  }

  .searchbar input{
    width : 44.5vw;
  }

  .right-section{
    gap : 10px;
  }

  .installApp{
    display : none;
  }

  .spotifyPlaylists h1 {
    padding: 4px;
  }

  .play-card {
    width: 60px;
    height: 60px;
    right :75px;
  }

  .card:hover .play-card{
    bottom : 220px;
  }

  .play-card svg {
    width: 30px;
    height: 30px;
  }

  .playbar {
    margin : 0 20px;
    width : 112vw;
    right : 13.3px;
  }

  .library {
    height: 122vh;
  }

  .left {
    width: 100vw;
    height : 127vh;
  }

  .songList{
    height : 120vh;
  }

  .thumbnail{
  width: 20vw;
  height : 20vh;
}

.info{
  gap : 5px;
}

.info > .artist{
  padding-top: 5px;
}

.song{
  width : 30vw;
}

.artist{
  width : 30vw;
}

 .durationPlay{
    gap : 9px;
  }

  .right {
    width : 127vw;
    height : 91.5vh;
  } 

  .spotifyPlaylists{
    width : 120vw;
  }

  .title{
    padding-bottom: 0;
  }

  .cardContainer{
    margin : 30px 30px 0px 30px;
    max-height : 71.5vh;
  }

  .card {
    width : 100vw;
    min-height : 45vh;
    margin-left: 5px;
  }

  .card img{
    width : 78%;
    height : 60%;
    margin : 30px 50px 0px 50px;
  }

  .card h2,p{
    margin : 15px 50px 0 50px;
  }

  .songThumbnail , .songThumbnail img {
    width: 20vw;
    height: 10vh;
   }
}

@media (max-height: 850px){

  .header{
    gap : 10px;
  }

  .hamburgerContainer img{
     width : 35px;
  } 

  .searchbar {
    width :70vw;
  }

  .searchbar input{
    width : 48.5vw;
  }

   .searchbar .line {
     bottom : 9px;
   }

   .cardContainer{
    max-height: 65vh;
   }

  .playbar{
    bottom : 1vh;
    right : 0.81vw;
    padding : 6px 6px 3px 6px;
  }

  .abovebar{
    gap : 8px;
    margin-bottom: 15px;
   }

    .songThumbnail , .songThumbnail img {
    width: 12vw;
    height: 6.5vh;
   }

   .songThumbnail {
      margin-bottom : 5px;
   }

   .timevol{
    gap : 0px;
   }

   .volume img {
    padding-bottom: 7px;
   }

}

.home:focus,.home:focus-visible{
  outline :none;
}